body {
	font-family: Arial, sans-serif, Times New Roman;
	text-align: center;
}


#footer {
	background-color: white;
	color: red;
}

ul {
    list-style: none;
}
li {
     list-style: none;
}

#container_index {
background-color: white;
color: green;
}

#header_cod {
	background-color: #FCE60A;
	color: black;
}


#container_cod {

background-color: #101010;
color: white;
}

#header_massage {
	background-color: #2149DF;
	color: #46E639;
}

#container_massage {
background-color: #46E639;
color: blue;

}


#header_resume {
	background-color: #FC990A;
	color: #2149DF;
}

#container_resume {

background-color: #2149DF;
color: white;
}

