body {
	background-color: #46E639;
	font-family: Arial, sans-serif, Times New Roman;
	text-align: center;
}

#header {
	background-color: #2149DF;
	color: red;
}

#footer {
	background-color: #2149DF;
	color: red;
}
